<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/xtext/tutorial/survey/Survey" 
       class = "org.eclipse.xtext.tutorial.survey.survey.SurveyPackage"
       genModel = "org/eclipse/xtext/tutorial/survey/Survey.genmodel" /> 
	
  </extension>



</plugin>
